/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}
*, *:before, *:after
{
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

body {
  background-color: green;
  position: relative;
}

main {
  width: 75%;
  margin: 0 auto;
  margin-top: 15%;
  padding-bottom: 15%;
}

header {
  position: relative;
  padding-top: 15%;
  margin-bottom: 15%;
}

header p > a {
  text-align: center;
  color: white;
  margin: 0 auto;
}

header p > a:hover {
  font-weight: bold;
}

header ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 8px 0;
  margin: 0;
  background-color: rgb(38,38,38);
}

header ul a {
  color: white;
  border-bottom: 2px solid transparent;
}

header ul a:hover {
  border-bottom: 2px solid white;
}

header h1, p {
  color: white;
}

header ul > li ul {
  display: none;
}

header ul > li:hover ul {
  display: flex;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 10%;
}

nav h2 {
  color: white;
}

section {
  padding: 0 5%;
  padding-bottom: 15%;
}

.fifteen:before {
  height: 10vh;
  display: block;
  content: '';
}


header h2 {
  text-align: initial;
  margin: 0;
  margin-left: 48px;
  font-size: 1.5rem;
  font-weight: normal;
}


header p {
  text-align: center;
  margin: 0;
}
h2, h1 {
  text-align: center;
}
main p {
  text-align: center;
}

section {
  margin: 0 auto;
  margin-top: 15%;
  border-radius: 8px;
}

section h2 {
  padding-bottom: 2.5%;
  font-size: 3rem;
}


section div {
  border-radius: 8px;
}

article {
  border-radius: 8px;
}

a {
  text-decoration: none;
}

footer {
  position: fixed;
  width: 100%;
  background-color: rgb(57,55,54);
  bottom: 0;
  text-align: center;
  color: white;
}

#sensitivity ul {
  list-style: none;
  background-color: rgb(38,38,38);
  border-radius: 8px;
  padding: 16px 0;
  text-align: center;
}

#about_me h2 {
  color: white;
}

#about_me {
  background-color: rgb(57,55,54);
  display: flex;
  flex-direction: column;
}

#about_me ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style-type: none;
  font-style: italic;
  color: white;
}

#about_me div {
  background-color: rgb(38,38,38);
  padding: 5% 10%;
}


#gaming_rig {
  background-color: rgb(57,55,54);
  text-align: center;
  color: white;
}

#gaming_rig div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(38,38,38);
  padding: 5% 0;
}

#gaming_rig article {
  background-color: rgb(57,55,54);
  width: 20%;
  margin: 3.75% 3.75%;
  height: 20vh;
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

#gaming_rig h3 {
  margin: 0;
}

#gaming_rig a {
  color: rgb(104,139,168);
  border-bottom: 2px solid transparent;
}

#gaming_rig a:hover {
  border-bottom: 2px solid rgb(104,139,168);
}

textarea {
  width: 100%;
  resize: none;
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(38,38,38);
  color: white;
}

#tf2_settings {
  color: white;
  background-color: rgb(57,55,54);
}
#tf2_settings a {
  font-weight: bold;
  color: rgb(104,139,168);
  position: relative;
  display: flex;
  padding: 0;
  border-bottom: 2px solid transparent;
}

#tf2_settings h2 {
  font-size: 24px;
}

#tf2_settings a:hover {
  border-bottom: 2px solid rgb(104,139,168);
}

#tf2_settings span {
  visibility: hidden;
  width: 120px;
  background-color: rgb(38,38,38);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  right: 0;
  z-index: 1;
}

#sensitivity {
  color: white;
  background-color: rgb(57,55,54);
}

#tf2_settings a:hover span {
  visibility: visible;
}



video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

